.carousel {
  transform: rotate(-90deg);
  &-inner {
  overflow: inherit;
  }
  &-indicators {
    position: absolute;
    left: -260px;
    top: 200px;
    padding-left: 0;
    text-align: center;
    list-style: none;
    & li {
      background-color: #e1e1e1;
      max-width: 7px;
      height: 7px;
      border-radius: 50%;
    }
    & .active {
      background-color: $red;
    }
  }
  &-heading {
    color: $black;
    font: 700 50px/30px Montserrat;
    margin: 70px 0 0 180px;
    padding-bottom: 35px;
  }
  &-sub-heading {
    color: #92a1a5;
    font: 400 14px/30px Montserrat;
    width: 400px;
    margin: 0 0 0 180px;
  }
  &-vertical {
    transform: rotate(90deg);
  }

}

.swiper-container {
  width: 600px;
  height: 200px;
  margin-top: 300px;
}

.swiper-container-vertical>.swiper-pagination-bullets {
  left: 140px;
  top: 45%;
}

.swiper-pagination-bullet-active {
  background: #ff343d;
}

.swiper-pagination-bullet {
  width: 7px;
  height: 7px;

}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 14px 0;
}
