.type-to-fly-section {
  background: url("../img/tap-to-fly/dron.png") no-repeat center center;
  height: 400px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 130px;
    right: -70px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #e8ecf1;
    z-index: 2;
  }
  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 105px;
    right: -90px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color:#e8ecf1;
    opacity: .6;
    z-index: 1;
  }
  h1 {
    font: 700 50px/60px Montserrat;
    padding: 150px 0 0 170px;
    position: absolute;
    z-index: 5;
    a {
      color: $black;
      &:hover {
        color: $black;
      }
    }
  }
  p {
    color: #92a1a5;
    font: 400 12px/30px Montserrat;
    padding: 220px 0 0 170px;
  }
}

.fly-higher-section {
  background: url("../img/tap-to-fly/tap-to-fly.png") no-repeat center center;
  background-size: cover;
  height: 400px;
  position: relative;
  display: flex;
  z-index: 3;
  &-heading {
    position: absolute;
    top: 150px;
    left: 80px;
    z-index: 2;
    width: 300px;
    font: 700 50px/60px Montserrat;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    background-color: $black;
    width: 45%;
    height: 400px;
    opacity: 0.65;
    -webkit-transition: 1.2s;
    -moz-transition: 1.2s ;
    -ms-transition: 1.2s ;
    -o-transition: 1.2s ;
    transition: 1.2s ;
  }
  &:hover:before {
    width: 60%;
    -webkit-transition: 1.2s;
    -moz-transition: 1.2s ;
    -ms-transition: 1.2s ;
    -o-transition: 1.2s ;
    transition: 1.2s ;
  }
  &:hover .btn-rotate {
    transform: rotate(0deg);
    -webkit-transition: 1.2s;
    -moz-transition: 1.2s ;
    -ms-transition: 1.2s ;
    -o-transition: 1.2s ;
    transition: 1.2s ;
  }
}

.wrap-features {
  display: flex;
  width: 80%;
  margin: 0 auto;
  figure {
    width: 300px;
    padding-bottom: 100px;
  }
  p {
    margin-bottom: 50px;
  }
}

.features-section-heading {
  color: $black;
  font: 700 48px/60px Montserrat;
  margin: 120px 0 100px;
}

.sub-features {
  color: #000000;
  font: 400 30px Montserrat;
}

.signal {
  position: relative;
  &:before {
    content: "";
    display: block;
    left: 115px;
    top: -4px;
    position: absolute;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 5px solid $black;
    opacity: 0;
  }
}

.figure {
  &-technology {
    img {
      -webkit-transition: 1.5s;
      -moz-transition: 1.5s ;
      -ms-transition: 1.5s ;
      -o-transition: 1.5s ;
      transition: 1.5s ;
    }
    &:hover img{
      transform: rotate(270deg);
      cursor: pointer;
      -webkit-transition: 1.5s;
      -moz-transition: 1.5s ;
      -ms-transition: 1.5s ;
      -o-transition: 1.5s ;
      transition: 1.5s ;
    }
  }
  &-signal {
    &:hover .signal:before {
      animation: signal 1.3s linear infinite;
      -webkit-animation: signal 1.3s linear infinite;
      cursor: pointer;
    }
  }
  &-use {
    img {
      -webkit-transition: 1.2s;
      -moz-transition: 1.2s ;
      -ms-transition: 1.2s ;
      -o-transition: 1.2s ;
      transition: 1.2s ;
    }
    &:hover img{
      transform: rotate(90deg);
      cursor: pointer;
      -webkit-transition: 1.2s;
      -moz-transition: 1.2s ;
      -ms-transition: 1.2s ;
      -o-transition: 1.2s ;
      transition: 1.2s ;
    }
  }
  &-visibility {
    img {
      -webkit-transition: 1.5s;
      -moz-transition: 1.5s;
      -ms-transition: 1.5s;
      -o-transition: 1.5s;
      transition: 1.5s;
    }
    &:hover img {
      animation: visual 1.5s linear infinite;
      -webkit-animation: visual 1.5s linear infinite;
      cursor: pointer;
    }
  }
}

.bg-dark-gray {
  background: url("../img/new-generation/generation.png") no-repeat center center;
  background-size: cover;

}

.heading-generation {
  font: 400 4rem/5rem Montserrat;
  width: 600px;
  &-vision {
    margin: 180px 0 0 100px;
  }
  &-flying {
    margin: 220px 0 0 180px;
  }
  &-small {
    font: 400 2.8rem/5rem Montserrat;
  }
}

.hidden-text {
  &-vision {
    display: none;
    margin: 0 0 8px 100px;
  }
  &-flying {
    display: none;
    margin: 0 0 8px 180px;
  }
  &-journey {
    display: none;
    margin: 20px auto -20px;
    width: 800px;
  }
}


.red-text {
  color: #ff343d;
}

.img-visibility {
  height: 100%;
  width: auto;
}

.dron-flying {
  margin: 110px 0 100px;
  max-height: 700px;
}

.journey {
  position: relative;
  background: url("../img/journey/journey.png") no-repeat center center;
  background-size: cover;
  min-height: 1000px;
  width: auto;
  &-heading {
    font: 700 6rem Montserrat;
    margin-top: 600px;
    &-small {
      font: 400 5rem/5rem Montserrat;
    }
  }
}

.footer-section {
  position: relative;
}

.sub-heading-footer {
  color: #92a1a5;
  font: 400 14px/30px Montserrat;
  margin-bottom: 200px;
  &:before {
    content: "Phantom";
    text-transform: uppercase;
    text-shadow: 8px 14px 95px rgba(0,0,0,0.05);
    color: #fff;
    font: 700 13rem/6rem Montserrat;
    position: absolute;
    z-index: -1;
    left: 205px;
    top: -10px;
  }
}

@media screen and (max-width: 1300px)  {
  .sub-heading-footer {
    font: 400 14px/30px Montserrat;
    &:before {
      font: 700 10rem/6rem Montserrat;
      left: 205px;
      top: -10px;
    }
  }
}