.logo{
  color: $black;
  font: 700 24px/30px Montserrat;
  &-header {
    margin-left: 215px;
  }
  &-footer {
    margin: 200px auto 30px;
    width: 300px
  }
}

.pulse {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  cursor: pointer;
  &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: $white;
    border: 3.5px solid $red;
  }
  &:before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 10px solid $red;
    opacity: 0;
  }
  &-header {
    &:after {
      top: 0;
      right: -15px;
    }
    &:before {
      top: -12px;
      right: -27px;
    }
    &:hover:before {
      animation: pulse 1s linear infinite;
      -webkit-animation: pulse 1s linear infinite;
    }
  }
  &-footer {
    &:after {
      top: -4px;
      left: 186px;
    }
    &:before {
      top: -16px;
      right: 90px;
    }
    &:hover:before {
      animation: pulse 1s linear infinite;
      -webkit-animation: pulse 1s linear infinite;
    }
  }
}

